.banner {
    background-color: rgb(241, 241, 241);
    display: flex;
    position: relative;
    width: 100%;
}

.banner__left {
    padding: 0 2rem;
    width: 40%;
}

.banner__right {
    background-image: var(--BannerBg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -12rem;
    background-position-x: 20%;
    width: 60%;
}

.banner__imagem {
    margin-left: 4%;
    width: 90%;
}

.banner__titulo {
    font-size: 3rem;
    font-family: var(--fontPublic);
    margin-top: 32%;
    width: 101%;
}

.banner__texto {
    font-family: var(--fontPublic);
    padding: 2rem 0;
}

/*-----MEDIA QUERIES------*/


@media screen and (max-width:800px) {
    .banner {
        flex-direction: column-reverse;
    }

    .banner__right {
        background-image: url(./../images/bg-intro-mobile.svg);
        background-position-y: unset;
        background-position-x: unset;
        width: 100%;
    }

    .banner__left {
        padding: 2rem;
        width: 100%;
    }

    .banner__titulo {
        padding: 0 1rem;
        margin-top: 0px;
        text-align: center;
    }

    .banner__texto {
        margin: 1rem auto;
        width: 70%;
    }

    .banner .all__button {
        margin: auto;
    }
}