.all__button {
  background-size: 200% auto;
  background-image: linear-gradient(to right, #76f521 0%, #5bb0f5 51%, #a0ff7b 100%);
  border-radius: 50px;
  border: none;
  color: var(--WhiteColor);
  display: block;
  font-weight: bold;
  padding: 13px 35px;
  margin: 10px;
  text-align: center;
  transition: 0.5s;
}

.all__button:hover {
  background-position: right center;
  color: var(--WhiteColor);
  text-decoration: none;
}