.cabecalho {
    align-items: center;
    background-color: var(--WhiteColor);
    display: flex;
    font-family: var(--fontPublic);
    justify-content: space-around;
    padding: 2rem;
    width: 100%;
}

.cabecalho__lista {
    color: black;
    display: flex;
    list-style: none;
}

.cabecalho__imagem {
    height: 2rem;
}

.cabecalho__link {
    color: var(--DarkBlue);
    font-weight: 500;
    margin-right: 1.6rem;
    opacity: .5;
    text-decoration: none;
}

.cabecalho__link:hover {
    border-bottom: var(--LimeGreen) solid 3px;
    padding-bottom: 3rem;
}

/*-----MEDIA QUERIES------*/


@media screen and (min-width:0px) {
    .cabecalho {
        justify-content: initial;
    }

    .cabecalho__navegacao {
        display: none;
    }

    .cabecalho .all__button {
        display: none;
    }
}

@media screen and (min-width:880px) {
    .cabecalho {
        justify-content: space-between;
    }

    .cabecalho__navegacao {
        display: flex;
    }

    .cabecalho .all__button {
        display: flex;
    }
    .icone-hamb{
        display: none;
    }
}