.choose {
    font-family: var(--fontPublic);
    margin: 3rem auto;
    width: 80%;
}

.choose__subtitulo {
    font-size: 2.4rem;
    font-weight: 400;
}

.choose__texto {
    color: var(--GrayishBlue);
    font-weight: 300;
    font-size: 1rem;
    padding-top: 1rem;
    width: 70%;
}

.choose__down {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
}

.choose__item {
    min-width: 200px;
    padding: 1rem; 
    width: 22%;
}

.choose__item img {
    width: 60px;
}

.choose__item h3 {
    font-weight: 600;
    padding: 1rem 0;
}

.choose__item p {
    color: var(--GrayishBlue);
    font-size: .9rem;
    font-weight: 300;
}

/*-----MEDIA QUERIES------*/


@media screen and (max-width:1080px) {
    .choose__down {
        flex-wrap: wrap;
        padding: 2rem 0;
    }

    .choose__item {
        margin-top: 1rem;
        min-width: 300px;
    }
}

@media screen and (max-width:800px) {
    .choose{
        padding: 4rem 0rem 0 0;
    }
    .choose__item { 
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .choose__texto {
        padding: 2rem 1rem;
        width: 100%;
    }

    .choose__subtitulo {
        text-align: center;
    }
}
@media screen and (max-width:500px) {
    .choose__item{ 
        min-width: 100%;
    }
}