.icone-hamb2{
    display: none;
}
.menu-invisivel {
    display: none; 
}

.menu-invisivel2 {
    box-shadow: 25px 37px 163px 21px;
    border-radius: 10px; 
    background-color: var(--WhiteColor);
    display: block;
    font-family: var(--fontPublic);
    position: absolute;
    right: 0;
    text-align: center;
    top: 96px;
    width: 200px;
    z-index: 1;
}

.menu-invisivel__lista {
    padding: 1rem;
}

.menu-invisivel__item {
    list-style: none;
    margin-bottom: 1rem;

}

.menu-invisivel__link {
    color: var(--DarkBlue);
    text-decoration: none;
}

.close {
   display: none;
}

.close2 {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 32px;
    top: 36px;
}

/*-----MEDIA QUERIES------*/


@media screen and (max-width:500px) {
    .menu-invisivel2{
        width: 100%;
    }
}