.rodape {
    background-color: var(--DarkBlue);
    display: flex;
    font-family: var(--fontPublic);
    justify-content: space-around;
    padding: 2rem 2rem 5rem 2rem;
    position: relative;
}

.rodape__esquerda {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
}

.rodape__logo {
    filter: invert(.5);
}

.rodape__redes img {
    margin-left: .7rem;
}

.rodape__lista {
    color: var(--WhiteColor);
    display: flex;
    flex-flow: column wrap;
    height: 120px;
    list-style: none;
    width: 40%;
}

.rodape__item {
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 3rem;
    transition: 500ms;
}
.rodape__item a:hover{
    box-shadow: 1px 4px 11px -4px;
    color: var(--WaterColor);
}
 

.rodape__direita {
    color: var(--WhiteColor);
    display: flex;
    flex-direction: column;
    justify-content: inherit;
}

.redes {
    height: 30px; 
    margin-left: 10px;
    width: 30px;
}

.rodape__redes-facebook {
    background: no-repeat center / cover url(./../images/face-branco.png);; 
    transition: 600ms;
}

.rodape__redes-facebook:hover {
    background-image: url(./../images/face-vd.png);
}

.rodape__redes-youtube {
    background: no-repeat center / cover url(./../images/youtube-br.png); 
    transition: 600ms;
}

.rodape__redes-youtube:hover {
    background-image: url(./../images/youtube-vd.png);
}

.rodape__redes-twitter {
    background: no-repeat center / cover url(./../images/twitter-branco.png); 
    transition: 600ms;
}

.rodape__redes-twitter:hover {
    background-image: url(./../images/twitter-vd.png);
}

.rodape__redes-pinterest {
    background: no-repeat center / cover url(./../images/pinterest-branco.png); 
    transition: 600ms;
}

.rodape__redes-pinterest:hover {
    background-image: url(./../images/pinterest-vd.png);
}

.rodape__redes-instagram {
    background: no-repeat center / cover url(./../images/insta-branco.png); 
    transition: 600ms;
}

.rodape__redes-instagram:hover {
    background-image: url(./../images/insta-vd.png);
}

.rodape__assinatura{
    bottom: 10px;
    color: var(--WhiteColor);
    text-align: center;
    margin: .7rem;
    position: absolute;
}
.rodape__assinatura a{ 
    color: var(--WhiteColor); 
    text-decoration: none;
}
.rodape__assinatura a:first-child{
    font-style: italic;
}
.rodape__assinatura a:last-child{
    font-weight: bold;
}
.rodape__assinatura img{
    width:20px;
    vertical-align: middle;
}


/*-----MEDIA QUERIES------*/


@media screen and (max-width:770px) {
    .rodape {
        flex-direction: column;
        padding: 2rem;
    }

    .rodape__logo {
        margin-bottom: 1rem;
        width: 200px;
    }

    .rodape__esquerda {
        align-items: center;
        display: flex;
    }

    .rodape__lista {
        height: unset;
        margin: auto;
        padding: 1.3rem 1.3rem 0.5rem 1.3rem;
        text-align: center;
    }

    .rodape__redes {
        padding: 1rem 0;
    }

    .rodape__item {
        margin-right: 0;
    }
    .rodape__direita{
        align-items: center;
    }
    .rodape__direita .all__button{
        margin: 1.5rem;
    } 
    .rodape__redes-facebook{
        margin-left: 0;
    }
    .rodape__assinatura{
        margin-top: 2rem;
        position: unset;
    }
}